<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
<div id="sidebar">
				<ul class="menu"> 
					<li class="list">
						<span class="sidebar-icon order"></span>
                            <a href="javascript:;" class="sidebar-mess">订单管理</a>
						<div class="rectangle"></div>
					</li>
					<li class="list">
						<span class="sidebar-icon collect"></span>
						<a href="javascript:;" class="sidebar-mess">我的收藏</a>
						<div class="rectangle"></div>
					</li>
					<li class="list">
						<span class="sidebar-icon info"></span>
						<a href="javascript:;" class="sidebar-mess">消息通知</a>
						<div class="rectangle "></div>
					</li>
					<li class="list">
						<span class="sidebar-icon comment"></span>
                              <a href="comment/show" class="sidebar-mess active">我的评论</a>
						<div class="rectangle chosestyle"></div>
					</li>
					<li class="list">
						<span class="sidebar-icon profile"></span>
						<a href="javascript:;" class="sidebar-mess">个人资料</a>
						<div class="rectangle "></div>
					</li>
					<li class="list">
						<span class="sidebar-icon password"></span>
                              <a href="javascript:;" class="sidebar-mess">密码设置</a>
						<div class="rectangle "></div>
					</li>
				</ul>
			</div>
</body>
</html>


